@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');


*  {
	padding: 0;
	margin:0 ;
	
}


header  {
	background-color: #e9e9e9;
	height: 600px;
	width: 100%;
}


#logo  {
	padding: 30px 60px;
	width: 40px;
}


.menu  {
	float: right;
	padding: 35px;
}


.menu li  {
	padding: 15px;
	display: inline;
}

.menu li a  {
	text-decoration: none;
	color:black;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

.menu li a:hover  {
	color:#10c9c3;
	transition: 0.3s;
}

section  {
	margin-top:115px;
	margin-left: 47%;
	height: 300px;
	width: 600px;
	font-family: 'Roboto', sans-serif;
}

h1  {
	font-size: 40px;
	font-family: 'Sen', sans-serif;

}

p  {
	margin-top: 40px;
	font-size: 17px;
	color:#787878;
	font-family: 'Montserrat', sans-serif;
}

button  {
	margin-top: 40px;
	background-color: #10c9c3;
	color: white;
	text-decoration: none;
	height: 60px;
	width: 180px;
	text-transform: uppercase;
	border:none;
	cursor: pointer;
}

#knop {
	ont-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

button:hover  {
	border:1px solid #787878;
}

main  {
	background-color: white;
	height: 420px;
	width: 100%;
}

h2  {
	margin-top: 100px;
	text-align: center;
	font-size: 30px;
	font-family: 'Sen', sans-serif;
}

#p2  {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 40px;
}

.rosp  {
	text-align: center;
	margin-top: 40px;
}

.container  {
	width: 100%;
	height: 600px;
}

.left  {
	float: left;
	background-color:#f8f9f9;
	width: 50%;
	height: 600px;
}

.right  {
	float: right;
	background-color:#e9e9e9 ;
	width: 50%;
	height: 600px;
}

.container2  {
	height: 300px;
	width: 600px;
	margin-top: 150px;
	margin-left: 50px;
}


h3 {
	font-size: 30px;
	font-family: 'Sen', sans-serif;	
}

.speck1  {
	font-size: 17px;
	margin-top: 40px;	
	text-transform: uppercase;
	font-family: 'Roboto Mono', monospace;
}


.line  {
	margin-top: 20px;
}


#green  {
	width: 350px;
	height: 3px;
	background-color: #10c9c3;
	float: left;
}	



#gray  {
	width: 150px;
	height: 3px;
	background-color: #d8d8d8;
	float: left;
}


#green2  {
	width: 450px;
	height: 3px;
	background-color: #10c9c3;
	float: left;
}	



#gray2  {
	width: 50px;
	height: 3px;
	background-color: #d8d8d8;
	float: left;
}


#green3  {
	width: 300px;
	height: 3px;
	background-color: #10c9c3;
	float: left;
}	



#gray3  {
	width: 200px;
	height: 3px;
	background-color: #d8d8d8;
	float: left;
}



.speck2  {
	font-size: 17px;
	font-family: 'Roboto Mono', monospace;
	margin-top: 60px;
	text-transform: uppercase;	
}




.speck3  {
	font-size: 17px;
	font-family: 'Roboto Mono', monospace;
	margin-top: 60px;	
	text-transform: uppercase;
}


.main  {
	background-color: #10c9c3;
	height: 240px;
	width: 100%;
}


.work  {
	
	height: 100px;
	width:250px;
	display:inline-block;
	text-align: center;
	margin-top: 95px;
	padding-left: 55px;
}


#portfolio, #watch, #star, #like {
	float:left;
	margin-top: 10px;

}



#number  {
	color: white;
	font-family: 'Sen', sans-serif;
	margin-left: 25px;
	float: left;
	margin-top: 4px;
}


#text  {
	color: white;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	float: left;
	font-size: 14px;
	margin-top: 12px;
	margin-left:25px;
}


.main3, .main4  {
	height: 300px;
	width: 100%;
	display: table;
}


.kub1, .kub3  {
	height: 300px;
	width: 300px;
	background-color: #838383;
	display:inline-block;
	display: table-cell;
}


.kub2, .kub4 {
	height: 300px;
	width: 300px;
	background-color: #dddddd;
	display:inline-block;
	display: table-cell;
}

 #kub  {
 	background-color: #252525;
 	position: relative
}


 #look  {
 	display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
}


.main4  {
	background-color: #f5f5f5;
	width: 100%;
	height: 100px;
}


#load  {
	color:#8e8e8e;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;

}


#more  {
	text-decoration: none;
}


#more:hover  {
	text-decoration: none;
	border:1px solid #8e8e8e;
}


.main5  {
	background-color: #fff;
	width: 100%;
	height: 900px;
	position: relative
}

.content_text  {
	text-align: center;
}

h4  {
	text-align: center;
	color: black;
	font-size: 30px;
	font-family: 'Sen', sans-serif;
	margin-top: 100px;

}


#content_text  {
	font-size: 17px;
	color:#787878;
	font-family: 'Montserrat', sans-serif;
}


.video  {
	background-color: #e9e9e9;
	height: 570px;
	width: 1100px;
	text-align: center;

	display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
}


.krug  {
	background-color: #10c9c3;
	width: 80px;
	height: 80px;
	border-radius: 50%;

	display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
}


#arrow  {
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
}


.main6  {
	height: 580px;
	width: 100%;
	background-color: #f5f5f5;
}


.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8  {
	margin-top:90px;
	height: 160px;
	width: 260px;
	display: inline-block;
	position: relative;
	margin-left: 40px;
}


#b2  {
	text-transform: uppercase;
	font-family: 'Sen', sans-serif;
	position: absolute;

}


#almaz, #zont, #phone, #game, #plane, #black_star, #magic, #paint  {
	display: block;
    margin-left: auto;
    margin-right: auto;   
}


#b2  {
	margin: 0;
    position: absolute;
    margin-top: 30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}


#text2  {
	text-align: center;
	font-size: 16px;
	margin-top: 55px;
}


.main7  {
	width: 100%;
	height: 500px;
	background-color: #10c9c3;
	float: left;
}


.cit  {
	text-align: center;
}


#cit  {
	font-family: 'Sen', sans-serif;
	font-size: 24px;
	color: white;
	margin-top: 180px;

	margin-bottom: 50px;
}


#avtor  {
	margin-top: 60px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-transform: uppercase;


}



.main8 {
	background-color: white;
	height: 200px;
	width: 100%;
	float: left;
}


.logotypes  {
	text-align: center;
}


#logo_1, #logo2, #logo3, #logo4, #logo5  {
	padding: 70px;
} 


.main9  {
	background-color: #f5f5f5;
	height: 750px;
	width: 100%;
	float: left;
}


#foot  {
	color: #1d1d1d;
	font-size: 35px;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	margin-top: 100px;

}


#footP  {
	text-align: center;
	font-size: 16px;
	margin-top: 40px;
}



.input  {
	text-align: center;
	margin-top: 40px;
}


#name  {
	height: 45px;
	width: 300px;
	text-decoration:none;
	border: none;
}


#mail  {
	height: 45px;
	width: 300px;
	text-decoration:none;
	border: none;
	margin-left: 30px;
}	


#title  {
	text-decoration:none;
	border: none;
	height: 45px;
	width: 640px;
	margin-top:30px;
}






#send  {
	margin-top: 40px;
	background-color: #10c9c3;
	color: white;
	text-decoration: none;
	height: 60px;
	width: 180px;
	text-transform: uppercase;
	border:none;
	margin-left: 530px;
	cursor: pointer;

}

#knop {
	ont-family: 'Montserrat', sans-serif;
	text-decoration: none;
}


#send:hover  {
	border:1px solid #787878;
}


 input[type="text"]::placeholder {
    color: #787878;
    padding-left: 15px;
 }   



textarea  {
	text-decoration:none;
	border: none;
	height: 170px;
	width: 640px;
	margin-top:30px;
}


 input[type="text"]::placeholder {
    color: #787878;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
 }


 textarea::placeholder {
    color: #787878;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
 }



footer  {
	background-color: #141414;
	height: 285px;
	width: 100%;
	float:left;
}


.about  {
	margin: 0 auto;
}


#about  {
	font-family: 'Roboto Mono', monospace;
	color:white;
}

#by  {
	color:#8f8f8f;
	font-family: 'Roboto Mono', monospace;
	font-size: 13px;
}


#lend{
	color:#8f8f8f;
	font-family: 'Roboto Mono', monospace;
	font-size: 13px;
	padding-top: 5px;
}


.contacts  {
	
	width: 290px;
	height: 180px;
	margin:55px 0px 30px 30px ; 
	display:inline-block;
	float: left;
	text-align: center;
}


#pochta,
#pohta.text:active, 
#pohta.text  {
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	color:#8f8f8f;
}




#insta  {
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	color:#8f8f8f;


}	


#vk  {
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	color:#8f8f8f	
}


#design, #design2  {
	 
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	color:#8f8f8f
}