canvas {
    border:1px solid red;
    width: 50%;
    float: left;
    min-width: 560px;
    max-width: 100%;
}

span {
    font-size: 30px;
    margin:0 auto;
}

img {
    width: 50px;
    height: auto;
}


button {
    margin:0 auto;
}

.players{
    display: flex;
    justify-content: space-between;
}

.foods {
    display: flex;
    justify-content: space-between;
}

input {
    text-align: center;
    margin: 0 auto;
    width: 100px;
    height: 30px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}




