@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*  {
   margin: 0;
   padding: 0;
   font-family: 'Comfortaa', cursive;
}

header {
   background-color: black;
   min-width: 1020px;
}

body {

}
nav {
   background-color: black;
   text-align: center;
   width: 100%;
   height: 70px;
}

ul  {
   display: flex;
   justify-content: space-around;
}

nav ul li {
   display:inline-block;
   padding-top:18px;
}

nav a {
   color:#b0b0b0;
   display:block;
   text-decoration: none;
   padding:7px 0px;
   transition: 0.2s; 
   font-size: 15px;
}

nav a:hover {
  color: white;
  transition: 0.2s; 
}

.menu-trigger {
  display:none;
  color:white;
}

.logo {
	padding: 20px 150px 0px 30px;
   cursor: pointer;
}

#close {
   display: none;
}

.header__content {
   background:url(img/10-14-Mojave-2.jpg) no-repeat center top;
   background-size: 100% 100%;
   height: 650px;
   min-width: 1020px;
}

.header__container {
   min-width: 400px;
   height: 450px;
   margin: 90px 0px 0px 120px;
   float: left;
}

#container__logo {
   width: 35%;
}

.container__text {
   float: left;
   color: #fff;
   font-size: 25px;
   margin-top: 25px;
}

.container__text_two {
   color:white;
   margin-top: 150px;
   font-size: 14px;
   font-family: Arial;
   font-family: 'Nanum Gothic', sans-serif;
}

.header__container_button {
   width: 135px;
   height: 45px;
   border: 2px solid white;
   background-color: #4a81c0;
   color: white;
   margin-top: 50px;
   cursor: pointer;
   transition: 0.2s;

}

.header__container_button:hover {
   font-size: 18px;
   transition: 0.2s;
}

.header__content-rigth {
   float: right;
   margin: 90px 120px 0px 0px;
   height: 360px;
   width: 360px;
}

.container-right__title {
   font-family: 'Comfortaa', cursive;
   font-size: 20px;
   text-align: center;
   background-color: #f5f5f5;
   height: 55px;
   border-radius: 7px 7px 0px 0px;
}

#container__title {
   padding-top: 16px;

}

#orange {
   color:#ff9b51;
}

.br__mobile {
   display: none;
}



form {
   height: 250px;
   background-color: #fff;
}

.form__name {
   width: 285px;
   height: 30px;
   margin-top: 35px;
   margin-left: 30px;
   outline: none;
   border: none;
   border-bottom: 1px solid #ccc;
}

.form__password {
   width: 285px;
   height: 30px;
   margin-top: 35px;
   margin-left: 30px;
   outline: none;
   border: none;
   border-bottom: 1px solid #ccc;


}

.form__mail {
   width: 285px;
   height: 30px;
   margin-top: 35px;
   margin-left: 30px;
   outline: none;
   border: none;
   border-bottom: 1px solid #ccc;

}

.container-right__button {
   height: 55px;
   background-color: #4a81c0;
   width: 100%;
   text-decoration: none;
   border: none;
   cursor: pointer;
   color:white;
   border-radius: 0px 0px 7px 7px;
   transition: 0.2s;
}

.container-right__button:hover {
   font-size: 17px;
   transition: 0.2s;
}

.social-media {
   height: 105px;
   min-width: 1020px;
   box-shadow: 0.3em 0.3em 4px rgba(122,122,122,0.5);
}

.media__text {
   font-size: 20px;
   position: absolute;
   margin: 21px 0px 0px 120px;
}

.media__title {
   font-size: 20px;
}

.media__description {
   font-size: 14px;
   margin-top: 13px;
   color: #b0b0b0;
}

.media__link-logo {
   display: flex;
   justify-content: space-between;
   float: right;
   margin: 21px 120px 0px 0px;
   max-width: 500px;
   min-width: 350px;
}

.feature {
   height: 600px;
   width: 100%;
   background-color: #f5f5f5;
   margin-top: 5px;
   min-width: 1020px;
}
.feature__button-left {
   top: 20px;
   margin-top: 140px;
   float: left;
   margin: 140px 0px 0px 120px;
}

.feature_text {
   float:left;
   margin-top: 140px;
   float: left;
}

.feature_title {
   font-size: 20px;
   font-family: 'Nanum Gothic', sans-serif;
   float: left;
   margin-top: 140px;
   margin-left: 100px;
}

.feature__description {
   font-size: 15px;
   position: absolute;
   width: 420px;
   height: 140px;
   margin-top: 195px;
   margin-left: 330px;
   color: #828484
}

.feature__button-button {
   width: 135px;
   height: 45px;
   border: 2px solid white;
   background-color: #ff8b38;
   color: white;
   margin-top: 400px;
   margin-left:-355px;
   cursor: pointer;
   transition: 0.2s;
   position: relative;
}

.feature__button-button:hover {
   font-size: 17px;
}

.feature__img {
   float: right;
   margin-top: -250px;
   margin-right:125px;
}
.feature__img-right {}

@media screen and (max-width:736px) {

    body  {
      min-width: 374px;
    }

   .menu-trigger {
      display:block;
   }

   nav ul li {
      display:block; 
    }

   nav ul {
      display:none;
    }

   body {
      background-color: white;
    }

   nav {
      width: 100%;
      background-color:black;
      height: 100%;
   }

   ul  {
      display: block;
   }

   nav ul li {
      display:inline-block;
   }

   nav a {
      color:white;
      display:block;
      text-decoration: none;
      padding:20px 30px;
   }

   nav a:hover {
      background-color:black;
   }
   
   header {
      min-width: 100%;
   }

   .menu-trigger {
      display:none;
      color:white;
   }

	.logo {
		padding: 10px 0px 10px 0px;
   }

   .header__content {
      min-width: 100%;
      height: 900px;
   }

   .header__container {
      text-align: center;
      min-width: 300px;
      padding: 10px;
      margin:0;
      float: left;
      margin-top: 40px;
      margin-bottom: 0px;
   }
   
   .container__text {
      text-align: center;
   }



   br {
      display: none;
   }

   .br__mobile {
      display: block;
   }

   .header__content-rigth {
      text-align: center;
      margin:0 auto;
      padding: 7px;
      min-width: 320px;
      float: left;
      position: relative;
      margin-top: 30%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
   }

   .form__name {
      margin:0 auto;
      margin-top: 35px;
   }
   .form__password {
      margin:0 auto;
      margin-top: 35px;
   }
   .form__mail {
      margin:0 auto;
      margin-top: 35px;
   }

   .social-media {
      height: 300px;
      min-width: 300px;
      margin:0 auto;
      text-align: center;
   }

   .media__text {
      position: relative;
      text-align: center;
      margin:0;
      margin-top: -20px; 
      float: left;
   }

   .media__title {
      text-align: center;
   }

   .media__description {
      text-align: center;
   }

   .media__link-logo {
      padding: 0;
      display: block;
      margin:0 auto;
      margin:50px;
      position: relative;
   }

   .feature {
      height: 600px;
      width: 100%;
      background-color: #f5f5f5;
      min-width: 300px;
   }

   .feature__button-left {
      display: none;
   }

   .feature {
      height: 600px;
      width: 100%;
      background-color: #f5f5f5;
      margin-top: 5px;
      min-width: 100%;
   }
   .feature__button-left {
      display: none;
   }

   .feature_text {
      margin:0 auto;
      text-align: center;
   }

   .feature_title {
      margin: 0 auto;
      text-align: center;
      position: absolute;
      margin-left: 40px;
      margin-top: 30px;
   }

   .feature__description {
      margin:0;
      margin-top: 90px;
      text-align: center;
      margin-left: 0px;
      width: 100%;
   }

   .feature__button-button {
      width: 135px;
      height: 45px;
      border: 2px solid white;
      background-color: #ff8b38;
      color: white;
      cursor: pointer;
      transition: 0.2s;
      margin-top:300px;
      position: absolute;
      display: block;
   }

   .feature__button-button:hover {
      font-size: 17px;
   }

   .feature__img {
      display: block;
   }

   .feature__img {
      display: block;
      margin: 0 auto;
      margin-top: 230px;
      margin-right:40px;
   }

}



@media screen and (max-width:736px) {
   .menu-trigger {
      display:block;
    }

   nav ul li {
      display:block; 
    }

   nav ul {
      display:none;
    }

   hr  {
      display: block;
   }

   nav {
      width: 100%;
   }

}

@media screen and ( min-width: 736px) and ( max-width: 1152px)  {
   .feature__img {
     /* float: right;
      margin-top: -250px;
      margin-right:125px;*/
      display: none;

   }
}