@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');



*  {
	margin:0px;
	padding:0px;
}


body  {
	min-width: 538px;
}


header  {
	height: 140px;
	width: 100%;
	background-color:#e9e9e9;
	position: relative;
	min-width: 538px;
}

hr  {
	display: none;
}

.logo  {
	height: 80px;
	width: 80px;
	border-radius:50%; 
	
	position: absolute;
	top:14%;
	left:2%;
	transition: 0.25s;
}


.logo:hover  {
	transform: scale(1.2);
	transition: 0.25s;
}

.menu  {
	float: right;
	padding: 20px;

}


.menu li  {
	display: inline;
	padding: 17px;
}

.menu li a  {
	color:#191919;
	text-decoration: none;
	font-size: 19px;
	text-transform: uppercase;
	font-family: 'Rubik', sans-serif;
	transition: 0.2s;
}


.menu li a:hover  {
	background-color: #10c9c3;
	border-radius: 3px;
	padding:4px;
}


main  {
	background-color: #e9e9e9;
	height: 450px;
}



h1  {
	font-size: 40px;
	font-family: 'Sen', sans-serif;

}

p  {
	margin-top: 40px;
	font-size: 17px;
	color:black;
	font-family: 'Montserrat', sans-serif;
}

button  {
	margin-top: 40px;
	background-color: #10c9c3;
	color: white;
	text-decoration: none;
	height: 60px;
	width: 180px;
	text-transform: uppercase;
	border:none;
	cursor: pointer;
}

#knop {
	ont-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

button:hover  {
	border:1px solid #787878;
}

#pci  {
	display: none;
}


section {
	float: right;
	padding: 30px;
	margin-right: 130px; 
}


.main2  {
	background-color: white;
	height: 400px;
	min-width: 538px;
}


h2  {
	margin-top: 100px;
	text-align: center;
	font-size: 30px;
	font-family: 'Sen', sans-serif;
}

#p2  {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 40px;
}

.rosp  {
	text-align: center;
	margin-top: 40px;
}



.main3  {
	height: 600px;
	background-color: #f8f9f9;
}



#mb  {
	display: none;
}



.container  {
	width: 100%;
	height: 600px;
	min-width: 538px
}

.left  {
	float: left;
	background-color:#f8f9f9;
	width: 50%;
	height: 600px;
}

.right  {
	float: right;
	background-color:#e9e9e9 ;
	width: 50%;
	height: 600px;
}

.container2  {
	height: 300px;
	width: 400px;
	margin-top: 150px;
	margin-left: 50px;
	min-width: 500px;
}


h3 {
	font-size: 30px;
	font-family: 'Sen', sans-serif;	
}

.speck1  {
	font-size: 17px;
	margin-top: 40px;	
	text-transform: uppercase;
	font-family: 'Roboto Mono', monospace;
}


.line  {
	margin-top: 20px;
}


#green  {
	width: 350px;
	height: 3px;
	background-color: #10c9c3;
	float: left;
}	



#gray  {
	width: 150px;
	height: 3px;
	background-color: #d8d8d8;
	float: left;
}


#green2  {
	width: 450px;
	height: 3px;
	background-color: #10c9c3;
	float: left;
}	



#gray2  {
	width: 50px;
	height: 3px;
	background-color: #d8d8d8;
	float: left;
}


#green3  {
	width: 300px;
	height: 3px;
	background-color: #10c9c3;
	float: left;
}	



#gray3  {
	width: 200px;
	height: 3px;
	background-color: #d8d8d8;
	float: left;
}



.speck2  {
	font-size: 17px;
	font-family: 'Roboto Mono', monospace;
	margin-top: 60px;
	text-transform: uppercase;	
}




.speck3  {
	font-size: 17px;
	font-family: 'Roboto Mono', monospace;
	margin-top: 60px;	
	text-transform: uppercase;
}

/*********************************************/

.main3  {
	background-color: #10c9c3;
	height: 260px;
	width: 100%;
	margin-bottom: 80px;
}


#adptive_two  {
	display: none;
}

.container3  {
	text-align: center;
}


.work  {
	height: 100px;
	width:250px;
	display:inline-block;
	text-align: center;
	margin-top: 95px;
	padding-left: 50px;
}


#portfolio, #watch, #star, #like {
	float:left;
	margin-top: 10px;

}



#number  {
	color: white;
	font-family: 'Sen', sans-serif;
	margin-left: 25px;
	float: left;
	margin-top: 4px;
}


#text  {
	color: white;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	float: left;
	font-size: 14px;
	margin-top: 12px;
	margin-left:25px;
}




#strelka  {
	display: none;
}



/*.................блоки..............*/
.main4 {
	height: 300px;
	width: 100%;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.main4  {
 display: flex;
  justify-content: center;
  align-items: center;
}

.send-content  {
	min-width: 300px;
	height: 300px;
	width: 300px;
	background-color:  #dddddd;
	margin: 10px;
	transition: 0.3s;
}



.send-content:hover  {
	transform:scale(1.09);
	transition: 0.3s;
	margin: 19px;
}



.main4  {
	background-color: #f5f5f5;
	width: 100%;
	height: 100px;
	margin-bottom: 105px;
}

.send  {
	background-color: #fff;
  min-width: 100%;
  min-height: 200px;
  display: flex;
  overflow-x:auto;
  overflow-y: hidden;
}

.send::-webkit-scrollbar {
  height: 7px;
  background: #f5f5f5;
  cursor: pointer;

}

.send::-webkit-scrollbar-thumb {
	background-color: #8e8e8e;
	border-radius: 2px;
	cursor: pointer;
}


.send::-webkit-scrollbar-thumb:hover {
	background-color: #10c9c3;
	border-radius: 2px;
	cursor: pointer;
}




.main6  {
	background-color: #f5f5f5;
	width: 100%;
	height: 100px;
	text-decoration: none;
}


#load  {
	color:black;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding-top: 35px;
	color: black;

}


#more  {
	text-decoration: none;
}


#more:hover  {
	text-decoration: none;
}


#load  {
	text-decoration: none;
	transition: 0.4s;

}


#load:hover  {
	text-decoration: none;
	font-size: 25px;
	transition: 0.4s;


}

/*ВИДЕЕЕЕЕЕЕЕОООООООООООООООООООООООО*/
.main7  {
	background-color: #fff;
	width: 100%;
	height: 900px;
	position: relative
}

.content_text  {
	text-align: center;
}

h4  {
	text-align: center;
	color: black;
	font-size: 30px;
	font-family: 'Sen', sans-serif;
	margin-top: 100px;

}


#mobi  {
	display: none;
}


#content_text  {
	font-size: 17px;
	color:black;
	font-family: 'Montserrat', sans-serif;
}


.video  {
	background: url(img/itpedia.jpg) center;
	height: 570px;
	
	text-align: center;

	display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    min-width: 400px;
    max-width: 1100px;
    cursor: pointer;
    transition: 0.4s;
}


.video:hover  {
	min-width: 460px;
	max-width: 1160px;
	height: 620px;
	transition: 0.4s;
}

.krug  {
	background-color: #10c9c3;
	width: 80px;
	height: 80px;
	border-radius: 50%;

	display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    transition: 0.3s
}

.krug:hover  {
	width: 120px;
	height: 120px;
	transition: 0.3s
}


#arrow  {
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    width: 20px;
}


/**************ФОООООООООООООРРРРРММММААААА***/
.main8  {
	background-color: #f5f5f5;
	width: 100%;
	height: 760px;
	float: left;
	text-align: center;
}



#form-h  {
	font-size: 40px;
	text-align: center;
	font-family: 'Sen', sans-serif;
	margin-top: 100px;
}


#form-p  {
	text-align: center;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: black;
}


#mobi  {
	display: none;
}


.form  {
	height: 330px;
	max-width: 670px;
	min-width: 300px;
	text-align: center;
	margin:0 auto;
}


#name  {
	height: 45px;
	width: 300px;
	float: left;
	border: none;
}


#name::placeholder  {
	padding-left:10px;
	font-size: 15px;
}

#mail {
	height: 45px;
	width: 300px;
	float: right;
	border: none;
}


#mail::placeholder  {
	padding-left:10px;
	font-size: 15px;
}

#title  {
	width: 670px;
	height: 45px;
	border: none;
	margin-top: 35px;
}


#title::placeholder  {
	padding-left:10px;
	font-size: 15px;
}


textarea  {
	margin-top: 35px;
	width: 670px;
	height: 170px;
	border: none;
}


textarea::placeholder  {
	padding-left: 10px;
	font-size:15px;
	font-family: 'Sen', sans-serif;
	margin-top: 10px;
}


#cet  {

}



/*********************************************/


@media (max-width:760px)  {
	.logo {
		height: 40px;
		width: 40px;
		margin-top:10px;
	}

	header  {
		height: 60px;
	}

	.menu li  {
		padding: 6px;	
	}
	

	h1  {
		padding-left: 7px;
	}


	.menu li a  {
		font-size:17px;
	}


	p  {
		font-size: 20px;
		padding-left: 7px;
	}

	section  {
		margin-top: 50px;
		padding:0px;
		text-align: center;
		margin-right: 20px;
		padding-left:10px; 

	}


	main  {
		height: 390px;
	}

	hr  {
		display: block;
		color:#787878;
	}

	#pci  {
		display: block;
	}

	#mbi  {
		display: none;
	}

	#p2  {
		font-size: 22px;
	}

	#mb  {
		display: block;
	}

	
	.left  {
		width: 100%;
		height: 550px;
	}


	.right  {
		display: none;
	}
	
	
	
	.container  {
		height: 500px;
	}


	.container2  {
		margin-left: 20px;
		margin: 0 auto;
		margin-top: 100px;

	}

	.container3  {
		display: flex;
		overflow-x: auto;
	}
	
	.container3::-webkit-scrollbar {
 		 height: 3px;
	}

	.container3::-webkit-scrollbar-thumb{
		background-color: #d8d8d8;
	}

	#green  {
	width: 350px;
	height: 3px;
	background-color: #10c9c3;
	float: left;
	}	



	#gray  {
		width: 150px;
		height: 3px;
		background-color: #d8d8d8;
		float: left;
	}


	#green2  {
		width: 450px;
		height: 3px;
		background-color: #10c9c3;
		float: left;
	}	



	#gray2  {
		width: 50px;
		height: 3px;
		background-color: #d8d8d8;
	font: ;loat: left;
	}


	#green3  {
		width: 300px;
		height: 3px;
		background-color: #10c9c3;
		float: left;
	}	



	#gray3  {
		width: 200px;
		height: 3px;
		background-color: #d8d8d8;
		float: left;
	}


	#adptive_two  {
		display: block;
		font-family: 'Roboto Mono', monospace;
		font-size: 23px;
		text-align: center;
		color: white;
		padding-top: 45px;

	}

	
	.work  {
		min-width: 250px;
		height: 100px;
		margin-top: 45px;
	}


	.main3  {
		height: 320px;
	}

	#strelka {
		display: block;
		color:white;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		margin-top: 10px;
	}



	.send::-webkit-scrollbar-thumb {
		background-color: #10c9c3;
		border-radius: 2px;
		cursor: pointer;
	}



	#mobi  {
		display: block;
	}

	
	#pci {
		display: none;
	}


	#pere  {
		display: block;
	}


	#content_text  {
		font-size: 23px;
	}


	#arrow  {
		width: 25px;
	}


	.video  {
		margin-top: 160px;
	}

	
	#form-p  {
		font-size: 23px;
	}

	#mobi  {
		display: block;
	}
	

	.main8  {
		height: 870px;
	}

	.form  {
		min-width: 310px;
		max-width: 450px;
		height: 450px;
	}

	
	#name  {
		min-width: 310px;
		border: 1px solid #8e8e8e;  
		width: 100%;
	}

	#mail  {
		margin-top: 35px;
		min-width: 310px;
		width: 100%;
		float: left;
		border: 1px solid #8e8e8e; 
	}

	#title  {
		min-width: 310px;
		width: 100%;
		float: left;
		border: 1px solid #8e8e8e; 
	}

	textarea  {
		min-width: 310px;
		width: 100%;
		height: 150px;
		float: left;
		border: 1px solid #8e8e8e; 
	}
	

	#cet  {
		margin-top: 0px;
		height: 80px;
		width: 200px;
	}




}
































@media (max-width:1000px)  {
	.right  {
		display: none;
	}

	.left  {
		width: 100%;
	}

	.container2  {
		margin:0 auto;
		margin-top: 100px;
	}


}



@media (max-width:1214px)  {

	.container2  {
		margin:0 auto;
		margin-top: 100px;
	}

	.main3  {
		height: 320px;
	}
	

	.container3  {
		display: flex;
		overflow-x: auto;
	}
	
	.container3::-webkit-scrollbar {
 		 height: 3px;
	}

	.container3::-webkit-scrollbar-thumb{
		background-color: #d8d8d8;
	}


	#adptive_two  {
		display: block;
		font-family: 'Roboto Mono', monospace;
		font-size: 23px;
		text-align: center;
		color: white;
		padding-top: 45px;

	}


	.work  {
		min-width: 250px;
		height: 100px;
		margin-top: 45px;
	}

	#strelka {
		display: block;
		color:white;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		margin-top: 10px;
	}
}



