@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

*  {
   margin: 0;
   padding: 0;
   font-family: 'Comfortaa', cursive;
}

body {
   background-color: #fff;
}

.container  {
   display: flex;
   justify-content: space-between;
   padding: 4%;
   white-space: nowrap;
}



#phone  {
   text-decoration: underline solid blue;
   margin-left: 10px; 
   margin-right: 10px; 
}

#mail  {
   text-decoration: underline solid blue;
   color: black;

}

nav {
   background-color: #264772;
   text-align: center;
   width: 100%;
   height: 100px;
}

ul  {
   display: flex;
   justify-content: space-around;
}

nav ul li {
   display:inline-block;
   padding-top:1.4%;
}

nav a {
   color:white;
   display:block;
   text-decoration: none;
   padding:20px 10px;
   transition: 0.2s; 
   font-size: 22px;
}

nav a:hover {
/*  background: DodgerBlue;*/
  font-size: 26px;
  transition: 0.2s; 
}

.menu-trigger {
  display:none;
  color:white;
}

hr  {
  display: none;
}

main  {
	width: 100%;
}

.container-text_left  {
	height: 100%;
	width: 45%;
	float: left;
}

.container-text_right  {
	height: 100%;
	width: 50%;
	float: right;
	padding: 0px 0px 0px 0px;
}

#kotel  {
	max-width: 85%;
	min-width: 70%;
	float: right;
	padding-right: 20px;
	padding-top: 20px;
}

h1  {
	padding: 25px 0px 0px 20px;
}

#container-text_p  {
	padding: 25px 0px 0px 20px;
}

.container_mobile  {
	display: none;
}

.main2 {
	background-color: #fbfbfb;
	float: left;
	width: 100%;
	height: 1000px;
}
.bar {
	/*border: 1px solid red;*/
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: 300px;
	width: 100%;
	margin-top: 50px;
	height: 1000px;
/*	min-width: 998px;*/
}
.product {
	/*border:1px solid red;*/
	width: 200px;
	height: 250px;
	margin-top: 25px;
	margin-left: 30px;
	margin-right: 30px;
}

#product-img {
	width: 150px;
	margin:0 auto;
	display: block;
}

.product-title {
	font-size: 20px;
	text-align: center;
	display: block;
	margin-top: 8px;
}

.product-description {
	font-size: 13px;
	text-align: center;
	margin-top: 8px;
}








@media screen and (max-width:736px) {
    *  {
      
    }

    html, body  {
      width: 100%;
    }

   #logo, .logo  {
      position:relative;
   }

   #logo, .logo  {
    text-align: center;
  }

   .mail, .phone, .address  {
      display: none;
	}
  

	.container  {
		display: block;
	}

   .menu-trigger {
      display:block;
   }

   nav ul li {
      display:block; 
    }

   nav ul {
      display:none;
    }

   body {
      background-color: white;
    }

   nav {
      width: 100%;
      background-color:#264772;
      height: 100%;
   }

   ul  {
      display: block;
   }

   nav ul li {
      display:inline-block;
   }

   nav a {
      color:white;
      display:block;
      text-decoration: none;
      padding:20px 30px;
   }

   nav a:hover {
      background-color:#264772;
   }

   .menu-trigger {
      display:none;
      color:white;
   }

	.container-text_left {
		text-align: center;
		width: 100%;
		right: 10px;
		position: relative;
	}

   .container-text_right {
   	display: none;
   }

   .container_mobile {
		display: block;
		text-align: center;
   }

   #kotelM  {
   	margin-top:30px;
   	max-width: 90%;
   	text-align: center;
   }


}














@media screen and (max-width:736px) {
   .menu-trigger {
      display:block;
    }

   nav ul li {
      display:block; 
    }

   nav ul {
      display:none;
    }

   hr  {
      display: block;
   }

   nav {
      width: 100%;
   }

}
